@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  font-family: Outfit, sans-serif;
  font-size: 15px;

  --slate-300: hsl(212, 45%, 89%);
  --slate-500: hsl(216, 15%, 48%);
  --slate-900: hsl(218, 44%, 22%);

  --font-bold: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  height: 100dvh;
  background-color: var(--slate-300);
  color: var(--slate-500);
}

main {
  width: 320px;
  background-color: white;
  text-align: center;
  border-radius: 1rem;
  padding-block: 1rem 30px;
}

.img-wrapper {
  width: 290px;
  margin: auto;
}

img {
  width: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

h2 {
  font-weight: var(--font-bold);
  color: var(--slate-900);
}

.content {
  width: 260px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-top: 1rem;
}
